.metadata
bin
gen
*.class
code/adt/E001UsingImage/gen/com/plter/game2d/usingimage/R.java

code/adt/E002ShapeBounds/gen/com/plter/game2d/shapebounds/R.java

code/adt/E003UsingText/gen/com/plter/usingtext/R.java

code/adt/E004UsingTranslateTween/gen/com/plter/game2d/usingtranslatetween/R.java

code/adt/E005UsingAlphaTween/gen/com/plter/usingalphatween/R.java

code/adt/E006Balls/gen/com/plter/balls/R.java

code/adt/android-game2d/gen/com/plter/android/game2d/R.java

code/adt/android-game2d/gen/com/plter/android/game2d/R.java
